<div id="sortmenu" class="col-xs-12 col-sm-3 col-md-3 col-lg-3 container">

<div class="row hidden-xs">
  <form method="POST" action="" name="filter_form">
    {% csrf_token %}
  <div class="col-sm-12">
    <h4>シーン</h4>
    <h5>ビジネス</h5>
    {% for buisiness_scene in buisiness_scene_list %}
    <label class="custom-control custom-checkbox">
      <input name="situation" type="checkbox" class="custom-control-input">
        {{ buisiness_scene }} ({{ buisiness_scene.img_num }})
    </label><br>
    {% endfor %}
    <h5>プライベート</h5>
    {% for private_scene in private_scene_list %}
    <label class="custom-control custom-checkbox">
      <input name="situation" type="checkbox" class="custom-control-input">
        {{ private_scene }} ({{ private_scene.img_num }})
    </label><br>
    {% endfor %}
  <hr>
  </div>

  <div class="col-sm-12">
    <h4>シーズン</h4>
    {% for season in season_list %}
    <label class="custom-control custom-checkbox">
      <input name="season" type="checkbox" class="custom-control-input">
        {{ season }} ({{ season.img_num }})
    </label><br>
    {% endfor %}
  <hr>
  </div>

  <div class="col-sm-12">
    <h4>メインカラー</h4>
    {% for color in color_list %}
    <label class="custom-control custom-checkbox">
      <input name="color" type="checkbox" class="custom-control-input">
        {{ color }} ({{ color.img_num }})
    </label><br>
    {% endfor %}
  <hr>
  </div>

  <div class="col-sm-12">
    <h4>テーマ</h4>
    {% for theme in theme_list %}
    <label class="custom-control custom-checkbox">
      <input name="theme" type="checkbox" class="custom-control-input">
        {{ theme }} ({{ theme.img_num }})
    </label><br>
    {% endfor %}
  <hr>
  </div>
    <input type="submit" value="絞り込み"></input>
  </form>
</div>


<!--   smartphone view   -->
<div class="row hidden-sm hidden-md hidden-lg container">
<!--  <form method="post" action="{ url 'upload:sort' %}" id="sortselect">-->
  <form method="POST" action="" name="filter_form">
    {% csrf_token %}
      <a id="search_conditions" data-toggle="collapse" href="#filter-collapse">
         詳細条件
      </a>
        <div id="filter-collapse" class="collapse">
            <div class="form-group row">
              <label class="control-form-label col-xs-12">
              シーン
              </label>
              <label class="control-form-label col-xs-12">
              ビジネス
              </label>
              <div class="container">
              {% for buisiness_scene in buisiness_scene_list %}
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input name="situation" type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ buisiness_scene }} ({{ buisiness_scene.img_num }})</span>
                </label>
              {% endfor %}
              </div>

              <label class="control-form-label col-xs-12">
              プライベート
              </label>
              <div class="container">
              {% for private_scene in private_scene_list %}
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input name="situation" type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ private_scene }} ({{ private_scene.img_num }})</span>
                </label>
              {% endfor %}
              </div>
            </div><hr>

            <div class="form-group row">
              <label class="control-form-label col-xs-12">
              シーズン
              </label>
              <div class="container">
              {% for season in season_list %}
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input name="season" type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ season }} ({{ season.img_num }})</span>
                </label>
              {% endfor %}
              </div>
            </div><hr>

            <div class="form-group row">
              <label class="control-form-label col-xs-12">
              メインカラー
              </label>
              <div class="container">
              {% for color in color_list %}
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input name="color" type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ color }} ({{ color.img_num }})</span>
                </label>
              {% endfor %}
              </div>
            </div><hr>

            <div class="form-group row">
              <label class="control-form-label col-xs-12">
              テーマ
              </label>
              <div class="container">
              {% for theme in theme_list %}
                <label class="custom-control custom-checkbox checkbox-inline">
                  <input name="theme" type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ theme }} ({{ theme.img_num }})</span>
                </label>
              {% endfor %}
              </div>
            </div>
        </div>
    <a id="tag_list" class="hidden" href="#">タグ一覧へ</a>
    <input type="submit" value="絞り込み"></input>
  </form>
</div>

</div>
