{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Top{% endblock title %}


{% block extrahead %}
<link href="{% static 'css/img-size-fix.css' %}" rel="stylesheet">
{% endblock extrahead %}


{% block active-home %}class="active"{% endblock active-home %}


{% block sortmenulist %}
{% include "upload/filterselect.html" %}
{% endblock sortmenulist %}


{% block content %}
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div id="main-content-imgs">
    {% for img in img_list %}
      <div class="img-item">
        <div class="img-content">
        <a href="{% url 'upload:detail' img.pk %}">
          <img src="{{ img.file.url }}" alt="">
        </a>
        </div>
          <a href="#">
            <div>{{ img.user }}</div>
          </a>
          <button type="submit" formaction="{% url 'upload:like' img.id %}" data-condition=false class="favoButton" data-favoNum=1>☆</button>
          <form action="{% url 'upload:like' img.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="like"></input>
          </form>
      </div>
    {% endfor %}
    </div>

    <div class="text-xs-center">
      {% include "upload/page.html" %}
    </div>
  </div>
{% endblock content %}

{% block extraScript %}
  <script src="{% static 'js/favorite.js' %}"></script>
{% endblock extraScript %}
