{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Top{% endblock title %}


{% block extrahead %}
<link href="{% static 'css/img-size-fix.css' %}" rel="stylesheet">
<link href="{% static 'css/star-rating.css' %}" rel="stylesheet">
{% endblock extrahead %}


{% block active-home %}class="active"{% endblock active-home %}


{% block sortmenulist %}
{% include "upload/filterselect.html" %}
{% endblock sortmenulist %}


{% block content %}
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div id="main-content-imgs">
    {% for img in img_list %}
      <div class="img-item">
        <div class="img-content">
        <a href="{% url 'upload:detail' img.pk %}">
          <img src="{{ img.file.url }}" alt="">
        </a>
        </div>
          <a href="#">
            <div>{{ img.user }}</div>
          </a>
          <div style="display:inline-flex">
          <form id="{{ img.pk }}" class="likeform" action="{% url 'upload:like' img.id %}" method="post">
            {% csrf_token %}
            <input name="{{ img.pk }}" class="btn btn-default btn-sm"
                   type="submit" value="お気に入り({{ img.favorited }})"></input>
          </form>
            <button class="btn btn-default btn-sm"
                    type="button" value="rate({{ img.favorited }})"
                    data-toggle="modal" data-target="#sampleModal{{ img.pk }}">
              評価({{ img.favorited }})</input>
          </div>
        <div class="modal fade" id="sampleModal{{ img.pk }}" tabindex="-1">
         <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">
               <span>×</span>
             </button>
           </div>
           <div class="modal-body">
          <form id="rate{{ img.pk }}" action="#" class="rateform" method="post">
            {% csrf_token %}
          <span class="star-rating">
            <input type="radio" name="rating" value="1"><i></i>
            <input type="radio" name="rating" value="2"><i></i>
            <input type="radio" name="rating" value="3"><i></i>
            <input type="radio" name="rating" value="4"><i></i>
            <input type="radio" name="rating" value="5"><i></i>
          </span>
          </form>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">
               閉じる</button>
           </div>
          </div>
         </div>
        </div>
      </div>
    {% endfor %}
    </div>

    <div class="text-xs-center">
      {% include "upload/page.html" %}
    </div>
  </div>
{% endblock content %}

{% block extraScript %}
  <script src="{% static 'js/ajax-csrf.js' %}"></script>
  <script src="{% static 'js/favorite.js' %}"></script>
{% endblock extraScript %}
